---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
---

<Layout  title="Kerala Startup Mission">
	<main class=" min-h-fit flex flex-col items-center justify-center" >

		<div class="mx-auto text-white ">
			<div class="  grid md:grid-cols-2 grid-cols-1 h-auto">
				<div class=" p-10  h-full flex flex-col bg-gradient-to-br from-blue-700 via-blue-600 to-blue-800">
					<div class=" text-start w-full my-auto flex flex-col">
						<div class=" text-3xl font-semibold  mb-6"style="font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;">Data for Research Purposes</div>
						<div class=" space-y-6">
							<div>
								<div class="text-justify text-white text-base"style="font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;">KSUM compiles and publishes public data regarding its Unique ID startups every year. The latest data set can be downloaded from the link below.
								</div>
								<div class=" mt-2 flex items-end justify-end  "style="font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;"><a href="https://docs.google.com/spreadsheets/d/1x9raIoTviiQW5EVK5rN4C2oPtZgHaJkFKyTuZQ60jbE/edit#gid=0"  target="_blank" class=" bg-white p-2  text-black cursor-pointer rounded ">Download Now</a></div>
								<p class=" mt-2 text-xs  flex items-end justify-end pt-1 text-white"style="font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;">last updated at 12/12/2023</p>

							</div>
							<p class=" text-justify text-sm italic "style="font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;">*Please note that KSUM will not be sharing contact details of the startup founders or any sensitive data including personal details, business financials or customer data of any of the startups.
							</p>
							
						</div>
					</div>
				</div>
				<div>
					<img src="/ksumdata/img/11.jpg">
				</div>
			</div>
		</div>
		
	</main>

	
</Layout>

<style>
	.body{
		font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;
	}
</style>
