---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
---

<Layout  title="Kerala Startup Mission">
	<main class="py-16  min-h-fit flex flex-col items-center justify-center bg-[#2f2e38]" >

		<div class="container mx-auto text-white ">
			<h1 class=" text-2xl font-bold text-white " style="font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;">Data for Research Purposes</h1>
			<p class=" text-white text-base pt-6" style="font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;">KSUM compiles and publishes public data regarding its Unique ID startups every year. The latest data set can be downloaded from the link below.</p>
			<div class=" mt-8 mb-3">
			<a class=" bg-[#0930cc]  py-2 px-4 rounded-sm cursor-pointer text-white" style="font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;">Download Now</a>
			</div>
			<p class=" text-xs text-white">last updated at dd/mm/yyyy</p>
			<p class="mt-4 text-sm italic" style="font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;">*Please note that KSUM will not be sharing contact details of the startup founders or any sensitive data including personal details, business financials or customer data of any of the startups.
			</p>
		</div>
		
	</main>

	
</Layout>

<style>
	.body{
		font-family: Raleway, Manjari, Karma, ui-sans-serif, system-ui, -apple-system;
	}
</style>
